#skills
  .col-xs-12.col-sm-2
    h3 JavaScript
  .col-xs-12.col-sm-4
    .progress
      .progress-bar(rol='progressbar', aria-valuenow='#{skills_js}', aria-valuemin='0', aria-valuemax='100', style='width: #{skills_js}%')

  .col-xs-12.col-sm-2
    h3 HTML
  .col-xs-12.col-sm-4
    .progress
      .progress-bar(rol='progressbar', aria-valuenow='#{skills_html}', aria-valuemin='0', aria-valuemax='100', style='width: #{skills_html}%')

  .col-xs-12.col-sm-2
    h3 CSS
  .col-xs-12.col-sm-4
    .progress
      .progress-bar(rol='progressbar', aria-valuenow='#{skills_css}', aria-valuemin='0', aria-valuemax='100', style='width: #{skills_css}%')

  .col-xs-12.col-sm-2
    h3 C++
  .col-xs-12.col-sm-4
    .progress
      .progress-bar(rol='progressbar', aria-valuenow='#{skills_cpp}', aria-valuemin='0', aria-valuemax='100', style='width: #{skills_cpp}%')

  .col-xs-12.col-sm-2
    h3 Java
  .col-xs-12.col-sm-4
    .progress
      .progress-bar(rol='progressbar', aria-valuenow='#{skills_java}', aria-valuemin='0', aria-valuemax='100', style='width: #{skills_java}%')

  .col-xs-12.col-sm-2
    h3 C
  .col-xs-12.col-sm-4
    .progress
      .progress-bar(rol='progressbar', aria-valuenow='#{skills_c}', aria-valuemin='0', aria-valuemax='100', style='width: #{skills_c}%')

  .col-xs-12.col-sm-2
    h3 Ruby
  .col-xs-12.col-sm-4
    .progress
      .progress-bar(rol='progressbar', aria-valuenow='#{skills_ruby}', aria-valuemin='0', aria-valuemax='100', style='width: #{skills_ruby}%')

  .col-xs-12.col-sm-2
    h3 C#
  .col-xs-12.col-sm-4
    .progress
      .progress-bar(rol='progressbar', aria-valuenow='#{skills_csharp}', aria-valuemin='0', aria-valuemax='100', style='width: #{skills_csharp}%')
